
<div class="row d-flex justify-content-center">

    <div class="col-md-7">
        <div class="card mt-2 mb-0">
            <div class="card-body  rounded">
                <form id="create-post" method="post" action="/update_post/{{postId}}">
                    <img class="rounded-circle ms-4" src="{{currentUser.icon}}" alt="profile_picture" width="60" height="60">
                        <span class="post-author ms-2 pt-2"> Editing post as {{currentUser.username}}</span>
                    </span>
                    <div class="create-post-content">
                        <div class="create-post-title-container">
                            <input type="text" name="title" id="post-title" class="create-a-post-title card col-md-12 mt-2 mb-0"
                            value="{{title}}">
                        </div>

                        <div class="create-post-text-container">
                            <textarea class="create-a-post-box card col-md-12 mt-2 mb-0" id="" name="text">{{body}}</textarea>
                            <br>
                            <input class="create-post-button rounded ms-2" type="submit" value="Submit">
                            <a href="/view-post/{{postId}}" class="create-post-button rounded link-underline link-underline-opacity-0">Back</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>