<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>foroom</title>
  {{>headext}}
</head>

<body>

  <!-- Navbar -->
  {{> navbar-registered}}

  <!--create a post-->
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-7">
        <div class="card mt-2 mb-0">
          <div class="card-body  rounded">
                <form id="create-post" method="post" action="/update_post/{{postId}}">
                    <img class="rounded-circle ms-4" src="{{currentUser.icon}}" alt="profile_picture" width="60" height="60">
                        <span class="post-author ms-2 pt-2"> Editing post as {{currentUser.username}}</span>
                    </span>
                    <div class="create-post-content">
                    <!--title box-->
                    <div class="create-post-title-container">
                        <input type="text" name="title" id="post-title" class="create-a-post-title card col-md-12 mt-2 mb-0"
                        value="{{title}}">
                    </div>
                    <!--text box-->

                     <div class="create-post-text-container">
                        <textarea class="create-a-post-box card col-md-12 mt-2 mb-0" id="" name="text">{{body}}</textarea>
                        <br>
                        <input class="create-post-button rounded ms-2" type="submit" value="Submit">
                        <a href="/view-post/{{postId}}" class="create-post-button rounded link-underline link-underline-opacity-0">Back</a>
                      </div>
                </form>
                <!--Script for auto resize text box-->
                <script>
                  const textarea = document.querySelector("textarea");
                  textarea.addEventListener("keyup", e => {
                    textarea.style.height = "102px";
                    let scHeight = e.target.scrollHeight;
                    textarea.style.height = `${scHeight}px`;
                  });
                </script>
                <!--end Script for auto resize text box-->
              </div>
            </div>
          </div>
        </div>
      </div>


</body>

</html>