
<div class="container-md p-5">
    <div class="card edit-profile-card rounded-2">
        <div class="card-header edit-profile-card-header rounded-top-2 px-4">
            <h2 class="pt-1">Edit Profile</h2>
        </div>
        <div class="card-body rounded-bottom-2 px-5">
            <div class="row p-5">
                <div class="col-3 text-center px-md-4">
                    <img id="user-pfp" src="{{currentUser.icon}}" alt="profile picture" class="edit-profile-pic img-fluid"><br><br>
                    <label for="profile-picture" class="btn change-pic-btn">Change picture</label>
                    <input type="file" id="profile-picture" accept="image/*" style="display: none;"></input>
                    <button id="remove-picture" class="btn change-pic-btn">Remove picture</button>
                </div>
                <div class="col-9 px-5">
                    <div class="row">
                        <form method="POST" class="edit-profile-form" id="editProfileForm">
                            <label for="username">USERNAME</label>
                            <input type="text" name="username" id="username" value="{{currentUser.username}}">
                            <span class="error-msg error-username"></span>

                            <label for="display-name">DISPLAY NAME</label>
                            <input type="text" name="display-name" id="display-name" value="{{currentUser.displayName}}">
                            <span class="error-msg error-display-name"></span>

                            <label for="description">DESCRIPTION</label>
                            <textarea id="description" name="description" rows="2" cols="50" maxlength="105" >{{currentUser.description}}</textarea>
                            <span class="error-msg error-description"></span>

                            <label for="email">EMAIL</label>
                            <input type="text" name="email" id="email" value="{{currentUser.email}}">
                            <span class="error-msg error-email"></span>

                            <label for="password">PASSWORD</label>
                            <input type="password" name="password" id="password" value="{{currentUser.password}}">
                            <span class="error-msg error-password"></span>
                        <div class="row d-flex flex-column mt-2">
                            <div class="col text-end">
                                <a href="/view-profile/{{currentUser.username}}" class="btn reset-btn">Back</a>
                                <button type="submit" class="btn save-btn ms-2">Save changes</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>