<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ headerTitle }}</title>

    {{>headext}}
</head>
<body>

    {{#if userFound}}
        {{> navbar-registered}}
    {{else}}
        {{> navbar-unregistered}}
    {{/if}}

    <!-- Search keyword -->
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-7 mt-2">
          <divclass="rounded d-flex justify-content-start align-items-center py-1 mt-2">
            <h3 class="fw-bolder my-4" id="searchResultsHeading">Showing results for "{{{searchText}}}"</h3>
          </div>
        </div>
      </div>
    </div>

    <!-- Sort button groups -->
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-7">
                <div class="card">
                    <div class="card-body rounded d-flex justify-content-start align-items-center py-1">
                        <span class="me-2">Sort posts: </span>
                        <button class="btn sort-btn me-1 my-0" id="sortUpvotes" type="button">
                            <i class="bi bi-caret-up-fill"></i>
                            <span class="ms-1">Upvotes</span>
                        </button>
                        <button class="btn sort-btn mx-1 my-0" id="sortDate" type="button">
                            <i class="bi bi-calendar-date"></i>
                            <span class="ms-1">Date</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Display results -->

    <div class="container" id="postsContainer">
        {{#if posts.length}}
            {{#each posts}}
                {{#if (isEqual this.author.username @root.currentUser.username)}}
                    {{> mypost-card post=this isIndex=@root.isIndex}}
                {{else}}
                    {{> otherpost-card post=this isIndex=@root.isIndex}}
                {{/if}} 
            {{/each}}
        {{else}}
            {{!-- TODO: update style --}}
            <br><br>
            <center>
                <p>No results for "{{searchText}}"</p> 
            </center>
        {{/if}}
    </div>

</body>
</html>