<!-- POST -->
<div class="row d-flex justify-content-center">
    <div class="col-md-7">
        <div class="card mt-4 mb-0">
            <div class="card-body rounded">
                {{!-- POST HEADER --}}
                <div class="d-flex justify-content-between mt-2">
                     <div>
                        <img class="rounded-circle ms-3" src="{{postAuthor.icon}}" alt="profile_picture" width="40" height="40">
                        <span class="post-author pt-2">
                        <a href="/view-profile/{{postAuthor.username}}" class="post-author-link link-underline link-underline-opacity-0 fs-7 ms-2 fw-medium">{{postAuthor.username}}</a>
                        </span>
                        {{#if post.editDate}}
                        <span class="post-author mx-1 pt-1 fw-sm fs-7">• {{relativeTime post.postDate}} •<span class="fst-italic fw-light"> edited {{relativeTime post.editDate}}</span></span>
                        {{else}}
                        <span class="post-author mx-1 pt-1 fw-sm fs-7">• Posted {{relativeTime post.postDate}}</span>
                        {{/if}}
                    </div>
                    
                    {{!-- MORE OPTIONS --}}
                    <div class="d-flex align-items-center">
                        {{#if (isEqual postAuthor.username currentUser.username)}}
                            <div class="iconGrid">
                                <button class="btn btn-sm" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false"aria-haspopup="true">
                                    <i class="bi bi-three-dots iconGrid-color"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li>
                                        <a class="dropdown-item edit-post-btn" href="/edit-post/{{post._id}}">
                                            <i class="bi bi-pencil me-2"></i>Edit Post
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item delete-post-btn" href="/delete-post/{{post._id}}">
                                            <i class="bi bi-trash me-2"></i>Delete
                                        </a>
                                    </li>
                                </div>
                            </div>
                        {{/if}}
                    </div>
                </div>

                {{!-- POST CONTENT --}}
                <div class="post-content">
                    <div id="postTitleDisplay">
                        <p class="post-title">{{{post.title}}}</p>
                    </div>
                    <div id="postBodyDisplay">
                        {{{post.body}}}
                    </div><br>
                    {{!-- <p>Current user: {{currentUser._id}}</p>
                    <p>Upvoters: {{post.upVoters}}</p>
                    <p>Downvoters: {{post.downVoters}}</p>
                    <p>hasVoted: {{hasVoted currentUser._id post.upVoters post.downVoters}}</p> --}}
                    <div class="flex-center iconGrid">
                    {{#if (hasVoted currentUser._id post.upVoters post.downVoters)}} {{!-- User has voted on the post--}}
                        {{#if (isUpvoter currentUser._id post.upVoters)}}
                        <i id="upvoteIcon/{{post._id}}" class="bi bi-caret-up-fill iconGrid-upvote iconGrid-color postUpvote"></i>
                        <span id="voteCount/{{post._id}}" class="iconGrid-text mx-1">{{post.totalVotes}}</span>
                        <i id="downvoteIcon/{{post._id}}" class="bi bi-caret-down iconGrid-downvote iconGrid-color postDownvote"></i>
                        {{else}}
                        <i id="upvoteIcon/{{post._id}}" class="bi bi-caret-up iconGrid-upvote iconGrid-color postUpvote"></i>
                        <span id="voteCount/{{post._id}}" class="iconGrid-text mx-1">{{post.totalVotes}}</span>
                        <i id="downvoteIcon/{{post._id}}" class="bi bi-caret-down-fill iconGrid-downvote iconGrid-color postDownvote"></i>
                        {{/if}}
                    {{else}}
                        <i id="upvoteIcon/{{post._id}}" class="bi bi-caret-up iconGrid-upvote iconGrid-color postUpvote"></i>
                        <span id="voteCount/{{post._id}}" class="iconGrid-text mx-1">{{post.totalVotes}}</span>
                        <i id="downvoteIcon/{{post._id}}" class="bi bi-caret-down iconGrid-downvote iconGrid-color postDownvote"></i>
                    {{/if}}
                        <i class="bi bi-chat-right-text ms-3 iconGrid-comment iconGrid-color"></i>
                        <span class="iconGrid-text mx-1">{{post.totalComments}} comments</span>
                    </div>
                    
                    <!-- COMMENT BOX -->
                    {{#if userFound}}
                    <hr style="width: 100%">
                    <div class="comment-box-container">
                        <span class="post-author ms-1 pt-2" id="commenting-as">Comment as {{ currentUser.username }}</span>
                        <form action="/create_comment/{{post._id}}" method="POST">
                            <textarea class="comment-box card col-md-12 mt-2 mb-0" name="comment" placeholder="Leave a comment ..." id="commentBox"></textarea>
                            <br><button type="submit" class="comment-button rounded">Comment</button>
                        </form>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{{!-- COMMENTS --}}
{{#if comments}}
<div class="comment-space-container" id="commentSpace">
    {{#each comments currentUser=currentUser._id}}
        {{#if (isEqual this.author.username ../currentUser.username)}}
            {{> myComment this isIndex=../isIndex isPost=../isPost}}
        {{else}}
            {{> otherComment this isIndex=../isIndex isPost=../isPost}}
        {{/if}}
    {{/each}}
</div>
{{else}}
    <br><p><center>This post has no comments yet.</center></p>
{{/if}}