<div class="row d-flex justify-content-center">
    <div class="col-md-7">
        <div class="card mt-2 mb-0">
            <div class="card-body rounded">
                {{!-- COMMENT HEADER --}}
                <div class="d-flex justify-content-between">
                    {{!-- AUTHOR AND COMMENT DETAILS --}}
                    <div class="d-flex align-items-center">
                        <img class="rounded-circle" src="{{author.icon}}" alt="profile_picture" width="35" height="35"/>
                        <span class="post-author ms-3 fw-medium">
                            <a href="/view-profile/{{author.username}}" class="link-unstyled">{{author.username}}</a>
                        </span>
                        <span class="post-author ms-1 fw-sm">• {{relativeTime commentDate}}</span>
                    </div>
                    {{!-- MORE OPTIONS --}}
                    <div class="d-flex align-items-center">
                        <div class="iconGrid">
                            <button class="btn btn-sm" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                                <i class="bi bi-three-dots iconGrid-color"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li>
                                    <a class="dropdown-item edit-comment-btn" id="/edit-comment/{{postId}}/{{this._id}}">
                                        Edit Comment
                                        <i class="bi bi-pencil ms-2"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item delete-comment-btn text-danger"id="/delete-comment/{{postId}}/{{this._id}}">
                                        Delete Comment
                                        <i class="bi bi-trash ms-2"></i>
                                    </a>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- COMMENT BODY --}}
                <div class="comment-thread">
                    <div class="comment-content">
                        <p class="comment-text">{{{body}}}</p>   
                        <div class="flex-center iconGrid">
                            <i id="commentUpvoteIcon/{{this._id}}" class="bi bi-caret-up iconGrid-upvote iconGrid-color commentUpvote"></i>
                            <span id="voteCount/{{this._id}}" class="iconGrid-text mx-1">{{totalVotes}}</span>
                            <i id="commentDownvoteIcon/{{this._id}}" class="bi bi-caret-down iconGrid-downvote iconGrid-color commentDownvote"></i>
                            <i class="bi bi-reply mx-2"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>