<div class="row d-flex justify-content-center">
    <div class="col-md-7">
        <div class="card mt-2 mb-0">
            <div class="card-body rounded">
                {{!-- COMMENT HEADER --}}
                <div class="d-flex justify-content-between">
                    {{!-- AUTHOR AND COMMENT DETAILS --}}
                    <div class="d-flex align-items-center">
                        <img class="rounded-circle" src="{{author.icon}}" alt="profile_picture" width="35" height="35"/>
                        <span class="post-author ms-3 fw-medium">
                            <a href="/view-profile/{{author.username}}" class="link-unstyled">{{author.username}}</a>
                        </span>
                        <span class="post-author ms-1 fw-sm">• {{relativeTime commentDate}}</span>
                    </div>
                </div>
                {{!-- COMMENT BODY --}}
                <div class="comment-thread">
                    <div class="comment-content">
                        {{{body}}}<br><br>
                        <div class="flex-center iconGrid">
                            <i id="commentUpvoteIcon/{{this._id}}" class="bi bi-caret-up iconGrid-upvote iconGrid-color commentUpvote"></i>
                            <span id="voteCount/{{this._id}}" class="iconGrid-text mx-1">{{totalVotes}}</span>
                            <i id="commentDownvoteIcon/{{this._id}}" class="bi bi-caret-down iconGrid-downvote iconGrid-color commentDownvote"></i>
                            <i class="bi bi-reply mx-2"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>