<!-- Other post card -->

<div class="row d-flex justify-content-center">
    <div class="col">
        <div class="card mt-2 mb-0">
            <div class="card-body rounded">
                <div class="d-flex flex-row justify-content-start align-baseline">
                    <a href="#" class="card-title link-underline link-underline-opacity-0">
                        {{title}}
                    </a>
                    <span class="post-author ms-1 pt-2">
                    • Posted by
                        <a href="#"
                                class="post-author-link link-underline link-underline-opacity-0">{{username}}</a>
                        </span>
                    </div>
                    <p class="card-text custom-truncate">
                        {{body}}
                    </p>
                    <!-- Icon box -->
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="flex-center iconGrid">
                            <i id="upvoteIcon-${postId}"
                                class="bi bi-caret-up iconGrid-upvote iconGrid-color"></i>
                            <span id="voteCount-${postId}" class="iconGrid-text mx-1">{{votes}}</span>
                            <i id="downvoteIcon-${postId}"
                                class="bi bi-caret-down iconGrid-downvote iconGrid-color"></i>
                            <i class="bi bi-chat-right-text ms-3 iconGrid-comment iconGrid-color"></i>
                            <span class="iconGrid-text mx-1">{{comments}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>